.@{prefix}_form_box {
    width: 300px;
    padding: 16px;
    box-shadow: 1px 1px 3px @boxShadowColor;
    overflow-y: auto;
    .ant-input,
    .ant-input-number,
    .ant-select {
      width: 100%;
    }
  }

